.gambiarra1 {
  width: 51.2vw;
  height: 31vh;
  position: absolute;
  bottom: 0;
  background: #A9A9A9;
  border-top-right-radius: 2vw;
}

/* Condição	Significa...
   min-width: 801px	A tela estar mais larga que 800px
   max-width: 600px	A tela estar mais estreita que 600px
   min-height: 700px	A tela estar mais alta que 700px
   max-height: 620px	A tela estar mais baixa que 620px */
@media (max-width: 750px) {

 .gambiarra1 {
    height: 30.4vh;
    width: 50.8vw;
  }

}

@media (max-width: 651px) {

 .gambiarra1 {
    height: 30vh;
    width: 50.4vw;
    }
}

@media (min-width: 1400px) {

 .gambiarra1 {
    height: 32vh;
    width: 51.5vw;
  }

}


@media (max-width: 600px) {

  /* Esconda as gambiarras */
  .gambiarra1,
  .gambiarra2,
  .gambiarra3,
  .gambiarra4,
  .gambiarra-do-meio {
    display: none !important;

}



