.main {
  display: flex;
  z-index: 1;
  grid-row: 1 / 4;
  grid-column: 2 / 4;
  background: #f5f0f0;
  border-radius: 2vw;
}

app-decorative-barr {
  position: relative;
}

app-decorative-pretend-background {
  position: relative;
  flex: 1 1 0%;
}

@media (max-width: 600px) {

  .main:hover {
    transform: scale(1.001, 1.001);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
