<div class="main-container">
  <!-- Sidebar -->
  <div class="sidebar" [class.open]="selectedSeat && selectedSeat.free">

    <div class="conteudo">

      <h3>Alocar Poltrona {{ selectedSeat?.position }}</h3>

      <form (ngSubmit)="allocateSeat()">
        <!-- Campo Nome -->

        <label for="name">Nome</label>
        <input pattern="[0-9]{11}"
               maxlength="50"
               [(ngModel)]="allocateForm.name"
               id="name" name="name" placeholder="Insira o nome para alocar poltrona" required>
        <!-- ngModel matem o campo sincronizado com a variável allocateForm.name -->

        <!-- Campo CPF -->
        <label for="cpf">CPF</label>

        <input maxlength="11"
               [(ngModel)]="allocateForm.cpf"
               id="cpf" name="cpf" placeholder="Insira o CPF para alocar poltrona" required>

        <!-- Botão Alocar -->
        <button type="submit">Alocar</button>
      </form>
    </div>
  </div>

  <!-- Indicador de carregamento -->
  <div *ngIf="isLoading" class="loading">
    Carregando poltronas...
  </div>

  <!-- Palanque Representativo -->
  <div class="palanque">
    <div class="stage">
      <div class="platform"></div> <!-- Plataforma do palanque -->
      <span class="stage-label">Frente da Sala</span>
    </div>
  </div>

  <!-- Matriz de poltronas -->
  <div class="seat-container">
    <div *ngFor="let seat of seats"
         class="seat"
         [ngClass]="{'occupied': !seat.free, 'selected': selectedSeat === seat}"
         (click)="selectSeat(seat)">

      <fa-icon [icon]="faChair"
               [ngClass]="{'occupied-icon': !seat.free}"></fa-icon>

      <span>{{ seat.position }}</span>

      <span *ngIf="!seat.free">{{ seat.pessoa?.name }}</span>

      <button *ngIf="selectedSeat === seat && !seat.free"
              (click)="removePerson(seat);
              $event.stopPropagation()">Remover</button>

    </div>
  </div>

  <!-- Mensagem de confirmação -->
  <div *ngIf="message"
       class="message"
       [ngClass]="{'success': message.type === 'success', 'error': message.type === 'error'}">
    {{ message.text }}
  </div>
</div>
