.bottom-left {
  /*position: relative;*/
  z-index: 10;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background: #f5f0f0;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 20px;
  border-top: px solid #A9A9A9;
  border-right: px solid #A9A9A9;
}

.bottom-left:hover {
  transform: scale(1.005, 1.005);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 600px) {

  .bottom-left:hover {
    transform: scale(1.001, 1.0001);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
